section {
    padding: 10px 80px 100px 80px;
    margin: 150px auto;
    width: 1000px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(54, 54, 54, 0.5);
}

a:hover {
    text-decoration: none;
}

.title {
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
}

tbody td {
    padding: 10px;
    vertical-align: middle;
}

.product-column {
    width: 40%;
}

.small-column {
    width: 15%;
    text-align: center;

}
.small-column img{
    width:100%;
}


.productname {
    font-size: 15px;
    margin: 0;
    text-align: left;
}

.quantity input {
    width: 50px;
    text-align: center;
}

.action img {
    width: 20px;
    cursor: pointer;
}

.checkout {
    border: none;
    outline: none;
    transform: translateY(40px);
    background-color: #f1d59c;
    transition: 0.2s ease-in-out;
}

.checkout:hover {
    background-color: #e6b249;
}

.checkout:focus {
    outline: none;
}
