
.login-form,.register-form{
    width:500px;
    padding:30px 60px;
    margin: 150px 0;
    background-color:#f5f5f5;
    box-shadow: 0 10px 20px rgba(54, 54, 54, 0.5);
    text-align:center;
    border-radius:20px;
}

.login-form h1,.register-form h1{
  font-size:30px;
  margin-bottom:60px;
  margin-top:40px
}

.login-form .form-group{
  margin-top:15px;
}
.input-group{
    margin:40px 0;
}
.login-icon{
    width:30px;
    height:30px;
    margin:0;
    padding:0;

}
.login-input{
    width:80%;
    margin-left:20px;
    background:none;
    border:none;
    border-bottom :2px solid #ababab;
    outline: none;
    &:focus{
        border-bottom :2px solid #000000;

    }
    &:focus::placeholder{
        opacity:30%;
    }
}

.btn-block{
  margin-top:30px;
  padding:15px;
  background-color:#f1d59c;
  transition:0.2s ease-in-out;
  &:hover{
    background-color:#e6b249;
  }
}


.register{
  padding:15px 5px 0;
  font-size:15px;
  a{
    text-decoration:none;
    &:hover{
        color:#2658a7;
        text-decoration:none;
    }
  }
}



